.company-card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.column {
    flex: 4;
}

.column:first-child {
    flex: 1;
    margin-right: 5px;
}

.avatar {
    flex: 2;
    margin: 0 auto;
    text-align: center;
}

.avatar img {
    margin-top: 35px;
}

.badges {
    text-align: center;
    margin-top: 10px;
}

.badges img {
    max-width: 40px;
    max-height: 40px;
    margin: 5px;
}

.rating {
    width: 200px;
}

.star svg {
    width: 10px;
}

.company-card {
    padding: 35px 20px 10px;
}

.company-card-section-1 {
    display: flex;
    margin-bottom: 10px;
}

.company-header {
    margin: 0 0 10px 0;
}

.address {
    margin: 0;
}

.rating-container {
    margin: 15px 0;
}

.company-information {
    flex: 3;
}

.btn-container {
    flex: 1;
}

.custom-btn {
    padding: 15px 30px;
    background-color: #f7931d;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
